extends layout

block content
    header
        .logo= title
        nav
            ul
                li
                    a(href='baidu.com') Home
                li
                    a(href='baidu.com') Using ME
                li
                    a(href='baidu.com') Creating
                li
                    a(href='baidu.com') Sign up
                li
                    a(href='baidu.com') Sign in
    //
        h1= title
        p Welcome to #{title}
    .content this is a test
